body {
	margin: 0;
	text-align: center;
	background-color: #efefef;
	height: 1000px;
}


.navigation {
	display: block;
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: white;
	left: 0;
	float: left;
	z-index: 100;
}

.logo {
	display: inline-block;
	width: 120px;
	height: 45px;
	background-color: lightgrey;
	margin-top: 7.5px;
}

.container {
	width: 550px;
	height: 550px;
	display: inline-block;
	margin-top: 50px;
	text-align: center;
	z-index: 50;
}

.inner {
	display: inline-block;
	width: 450px;
	height: 450px;
	background-color: white;
	margin-top: 20px;
}

.clock {
	display: block;
	position: fixed;
	width: 100%;
	height: 120px;
	background-color: white;
	bottom: 0;
	/*box-shadow: 0px -3px 5px lightgrey;*/
	z-index: 100;
}

.time {
	margin-top: 25px;
	width: 600px;
	height: 100px;
	display: inline-block;
}

.time-container {
	display: inline-block;
	width: 400px;
	height: 40px;
}

.play-pause {
	display: inline-block;
	width: 400px;
	height: 40px;
	margin-top: 25px;
	display: none;
}

.icon-container {
	display: inline-block;
	width: 200px;
	height: 40px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 98%;
    height: 6px;
    background: #e5e5e5;
    outline: none;
    opacity: 1;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 6px;
    background: #bc3434;
    cursor: pointer;
}

.pp-button {
	display: inline-block;
	width: 40px;
	height: 30px;
	background-color: white;
	border-width: 1.5px;
	border-style: solid;
	border-color: grey;
	border-radius: 2px;
	margin-top: -5px;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
}

/*.pp-button:hover {
	opacity: 0.5;
}*/

#pause {
	display: inline-block;
	width: 16px;
	height: 20px;
	background-color: grey;
	clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
	margin-top: 5px;
	margin-left: 3px;
	display: none;
}

.play {
	display: inline-block;
	width: 4px;
	height: 18px;
	background-color: grey;
	margin-top: 5px;
	margin-left: 0.8px;
}

.clock-face {
	display: inline-block;
	width: 180px;
	height: 40px;
}

#hours, #minutes, #seconds {
	display: inline-block;
	width: 60px;
	height: 40px;
	background-color: white;
	float: left;
	font-family: monospace;
	font-size: 20px;
	line-height: 35px;
	color: grey;
}

#hours {
	text-align: right;
	margin-left: 16px;
}

#minutes {
	text-align: center;
	width: 40px;
}

#seconds {
	text-align: left;
}

#sliderValue {
	display: inline-block;
	width: 100px;
	height: 40px;
	background-color: lightgrey;
	margin-top: 100px;
	font-size: 25px;
	font-weight: bold;
	font-family: sans-serif;
	line-height: 40px;
	display: none;
}

.vector-container {
	display: inline-block;
	width: 350px;
	height: 350px;
	background-color: #e5e5e5;
	margin-top: 50px;
}

.gallery {
	display: inline-block;
	width: 85%;
	margin-top: 130px;
	margin-left: 5%;
	margin-bottom: 300px;
}

.chase-container {
	display: inline-block;
	float: left;
	width: 300px;
	height: 300px;
	margin-left: 30px;
	margin-bottom: 40px;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
}

.chase-container:hover {
	opacity: 0.6;
}

.chase {
	display: inline-block;
	width: 220px;
	height: 220px;
	background-color: white;
	float: left;
	margin-left: 40px;
	margin-bottom: 10px;
}

.chase-title {
	display: inline-block;
	width: 250px;
	height: 50px;
	background-color: lightgrey;
	float: left;
	margin-left: 25px;
}






